/* Default stuff and main body styles */
* {
    font-family: sans-serif;
    font-weight: bold;
}

html,
body {
    width: 100%;
    height: auto;
    margin: 0px;
    overflow-y: scroll;
}

/* Canvas Items in this container should be in a grid centered on the screen */
#canvasGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 0fr));
    grid-gap: 1vmin;
    justify-content: center;
    justify-self: center;
    align-items: center;
    margin-top: 2vmin;
}